.home_text{
    text-transform: uppercase;
}

.home{
    background-image: url(../assets/images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 90dvh;
}

.box{
    width: 50%;
    color: aliceblue;
}